<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 1.扫描web层 @Controller-->
    <context:component-scan base-package="com.yegetables.controller"/>

    <!-- 2.开启SpringMVC注解模式
            (1)自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
            (2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持
    -->
    <!--    <mvc:annotation-driven/>-->

    <mvc:annotation-driven>
        <mvc:message-converters>
            <!--            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=utf-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 3.静态资源默认servlet配置
            (1)加入对静态资源的处理：js,gif,png
            (2)允许使用"/"做整体映射
    -->
    <mvc:default-servlet-handler/>

    <!-- 4.jsp 视图解析器  ： 可以更换成 模板  thymeleaf 等  -->
    <!--        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">-->
    <!--            <property name="prefix" value=""/>-->
    <!--            <property name="suffix" value=".html"/>-->
    <!--                    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
    <!--        </bean>-->

    <!--        配置thymeleaf模板解析器-->
    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver" id="templateResolver">
        <property name="prefix" value="/WEB-INF/page/"/>
        <!--        <property name="prefix" value="/static/"/>-->
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8"/>
        <!--                    是否设置缓存-->
        <property name="cacheable" value="false"/>
        <!--                模板的类型 -->
        <property name="templateMode" value="HTML"/>
    </bean>
    <!--        模板引擎-->
    <bean id="engine" class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <!--        视图解析器-->
    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver" id="resolver">
        <property name="templateEngine" ref="engine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>